@CHARSET "UTF-8";
.layui-table-body .laytable-cell-1-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-2-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-3-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-4-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-5-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-6-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-7-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-8-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-9-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-10-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-11-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-12-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-13-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-14-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-15-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-16-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-17-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-18-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-19-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-20-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-21-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-22-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-23-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-24-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-25-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-26-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-27-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-28-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-29-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-30-C_Thumbnail{height:90px;}	
	.layui-table-body .laytable-cell-31-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-32-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-33-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-34-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-35-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-36-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-37-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-38-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-39-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-40-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-41-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-42-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-43-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-44-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-45-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-46-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-47-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-48-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-49-C_Thumbnail{height:90px;}
	.layui-table-body .laytable-cell-50-C_Thumbnail{height:90px;}